<h2>Add a Track</h2>
<% albums = @albums %>
<form name="track" action="<%= album_tracks_path %>" method="post">
  <label for="name">Track Name</label>
  <input type="text" id="name" name="track[name]">

  <h3>Select Album</h3>
  <select name="track[album_id]">
  <% albums.each do |album| %>
    <option value=<%= album.id %>
       <%= selected if album.id == params[:album_id] %> >
    <%= album.name %></option>
  <% end %>
  </select>
  <br>
  <br>

  <h3>Choose track status type</h3>
  <label for="bonus">Bonus</label>
  <input type="radio" id="bonus" value="bonus" name="track[status]">
  <label for="regular">Regular</label>
  <input type="radio" id="regular" value="regular" name="track[status]">
  <br>
  <br>
  <input type="submit" value="Add track">
</form>