<h2>Sign Up</h2>

<form name="user" action="/users" method="post">
  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]">
  <label for="password">Password</label>
  <input type="text" id="password" name="user[password]">
  <br>
  <input type="submit" value="Sign Up">
</form>